<%= form_with(model: license, local: true) do |form| %>
  <% if license.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(license.errors.count, "error") %> prohibited this license from being saved:</h2>

      <ul>
      <% license.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :idSubskrypcji %>
    <%= form.number_field :idSubskrypcji %>
  </div>

  <div class="field">
    <%= form.label :idProduktu %>
    <%= form.number_field :idProduktu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
