<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Imie:</strong>
  <%= @user.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @user.nazwisko %>
</p>

<p>
  <strong>Nrtel:</strong>
  <%= @user.nrtel %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
