<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Cena</th>
      <th>Czastrwania</th>
      <th>Darmowyokres</th>
      <th>Idproduktu</th>
      <th>Ilosclicencji</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.Nazwa %></td>
        <td><%= plan.Cena %></td>
        <td><%= plan.CzasTrwania %></td>
        <td><%= plan.DarmowyOkres %></td>
        <td><%= plan.idProduktu %></td>
        <td><%= plan.IloscLicencji %></td>
        <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_plan_path %>
