<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @plan.Nazwa %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @plan.Cena %>
</p>

<p>
  <strong>Czastrwania:</strong>
  <%= @plan.CzasTrwania %>
</p>

<p>
  <strong>Darmowyokres:</strong>
  <%= @plan.DarmowyOkres %>
</p>

<p>
  <strong>Idproduktu:</strong>
  <%= @plan.idProduktu %>
</p>

<p>
  <strong>Ilosclicencji:</strong>
  <%= @plan.IloscLicencji %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
